.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    min-height: 100vh;
    background-color: var(--Stone-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--White);
    padding: 3rem;
    margin: 1rem;
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header img {
    border-radius: 20px;
    margin-bottom: 2rem;
}

.header h1{
    margin-bottom: 1rem;
}

.prep {
    background-color: var(--Rose-50);
    padding: 1.8rem;
    border-radius: 20px;
}

.prep li {
    margin: 1rem;
}

span {
    position: relative;
    left: 12px;
}

.prep h3 {
    color: var(--Rose-800);
}

h2 {
    color: var(--Brown-800);
}

.igredients {
    border-bottom: 1px solid gray;
    padding-bottom: 1.5rem;
}

.igredients li{
    padding: 0.4rem;
}

.igredients ul {
    padding-left: 1.5rem;
}